@import "persian-fonts.css";

body {
    direction: rtl;
    font-family: Dana;
}
.form-floating > label {
    right: 0 !important;
    left: auto;
}
ul.pagination {
    flex-wrap: wrap !important;
}
.box-main-content {
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 0 20px;
    text-align: justify;
    margin-bottom: 30px;
}
.box-main-content img {
    max-width: 100%;
}
.box-sidebar {
    width: 100%;
    border: 1px solid #dcdcdc;
}
.box-sidebar-header {
    width: 100%;
    padding: 8px 10px;
    border-bottom: 1px solid #dcdcdc;
    background: #f1f1f1;
}
.box-sidebar-body {
    padding: 15px;
}
.box-sidebar-body ul {
    padding: 0;
}
.box-sidebar-body ul li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px dashed silver;
    padding-bottom: 10px;
}
.box-sidebar-body ul li a {
    font-size: 17px;
}
.box-sidebar-footer {}
