@font-face {
    font-family: IRANYekan_Fa;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/eot/iranyekanwebboldfanum.eot);
    src: url(../fonts/eot/iranyekanwebboldfanum.eot?#iefix) format("embedded-opentype"), url(../fonts/woff/iranyekanwebboldfanum.woff) format("woff"), url(../fonts/ttf/iranyekanwebboldfanum.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekan_Fa;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/eot/iranyekanwebthinfanum.eot);
    src: url(../fonts/eot/iranyekanwebthinfanum.eot?#iefix) format("embedded-opentype"), url(../fonts/woff/iranyekanwebthinfanum.woff) format("woff"), url(../fonts/ttf/iranyekanwebthinfanum.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekan_Fa;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/eot/iranyekanweblightfanum.eot);
    src: url(../fonts/eot/iranyekanweblightfanum.eot?#iefix) format("embedded-opentype"), url(../fonts/woff/iranyekanweblightfanum.woff) format("woff"), url(../fonts/ttf/iranyekanweblightfanum.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekan_Fa;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/eot/iranyekanwebregularfanum.eot);
    src: url(../fonts/eot/iranyekanwebregularfanum.eot?#iefix) format("embedded-opentype"), url(../fonts/woff/iranyekanwebregularfanum.woff) format("woff"), url(../fonts/ttf/iranyekanwebregularfanum.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekan_Fa;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/eot/iranyekanwebmediumfanum.eot);
    src: url(../fonts/eot/iranyekanwebmediumfanum.eot?#iefix) format("embedded-opentype"), url(../fonts/woff/iranyekanwebmediumfanum.woff) format("woff"), url(../fonts/ttf/iranyekanwebmediumfanum.ttf) format("truetype");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/eot/dana-fanum-extralight.eot");
    src: url("../fonts/eot/dana-fanum-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-extralight.woff2") format("woff2"), url("../fonts/woff/dana-fanum-extralight.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/dana-fanum-light.eot");
    src: url("../fonts/eot/dana-fanum-light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-light.woff2") format("woff2"), url("../fonts/woff/dana-fanum-light.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/dana-fanum-medium.eot");
    src: url("../fonts/eot/dana-fanum-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-medium.woff2") format("woff2"), url("../fonts/woff/dana-fanum-medium.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/eot/dana-fanum-demibold.eot");
    src: url("../fonts/eot/dana-fanum-demibold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-demibold.woff2") format("woff2"), url("../fonts/woff/dana-fanum-demibold.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 750;
    src: url("../fonts/eot/dana-fanum-ultrabold.eot");
    src: url("../fonts/eot/dana-fanum-ultrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-ultrabold.woff2") format("woff2"), url("../fonts/woff/dana-fanum-ultrabold.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/eot/dana-fanum-extrabold.eot");
    src: url("../fonts/eot/dana-fanum-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-extrabold.woff2") format("woff2"), url("../fonts/woff/dana-fanum-extrabold.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/eot/dana-fanum-black.eot");
    src: url("../fonts/eot/dana-fanum-black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-black.woff2") format("woff2"), url("../fonts/woff/dana-fanum-black.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/eot/dana-fanum-bold.eot");
    src: url("../fonts/eot/dana-fanum-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-bold.woff2") format("woff2"), url("../fonts/woff/dana-fanum-bold.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/eot/dana-fanum-regular.eot");
    src: url("../fonts/eot/dana-fanum-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-regular.woff2") format("woff2"), url("../fonts/woff/dana-fanum-regular.woff") format("woff");
}
@font-face {
    font-family: IRANSans_Fa;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/eot/IRANSansWeb_FaNum_Black.eot");
    src: url("../fonts/eot/IRANSansWeb_FaNum_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_FaNum_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_FaNum_Black.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_FaNum_Black.ttf") format("truetype");
}
@font-face {
    font-family: IRANSans_Fa;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/eot/IRANSansWeb_FaNum_Bold.eot");
    src: url("../fonts/eot/IRANSansWeb_FaNum_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_FaNum_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_FaNum_Bold.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_FaNum_Bold.ttf") format("truetype");
}
@font-face {
    font-family: IRANSans_Fa;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/eot/IRANSansWeb_FaNum_Medium.eot");
    src: url("../fonts/eot/IRANSansWeb_FaNum_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_FaNum_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_FaNum_Medium.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_FaNum_Medium.ttf") format("truetype");
}
@font-face {
    font-family: IRANSans_Fa;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/eot/IRANSansWeb_FaNum_Light.eot");
    src: url("../fonts/eot/IRANSansWeb_FaNum_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_FaNum_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_FaNum_Light.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_FaNum_Light.ttf") format("truetype");
}
@font-face {
    font-family: IRANSans_Fa;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/eot/IRANSansWeb_FaNum_UltraLight.eot");
    src: url("../fonts/eot/IRANSansWeb_FaNum_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_FaNum_UltraLight.woff2") format("woff2"),
    url("../fonts/woff/IRANSansWeb_FaNum_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_FaNum_UltraLight.ttf") format("truetype");
}
@font-face {
    font-family: IRANSans_Fa;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/eot/IRANSansWeb_FaNum.eot");
    src: url("../fonts/eot/IRANSansWeb_FaNum.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_FaNum.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_FaNum.woff") format("woff"),
    url("../fonts/ttf/IRANSansWeb_FaNum.ttf") format("truetype");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 200;
    src: url("../fonts/eot/dana-fanum-extralightitalic.eot");
    src: url("../fonts/eot/dana-fanum-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-extralightitalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-extralightitalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/eot/dana-fanum-lightitalic.eot");
    src: url("../fonts/eot/dana-fanum-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-lightitalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-lightitalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/eot/dana-fanum-mediumitalic.eot");
    src: url("../fonts/eot/dana-fanum-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-mediumitalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-mediumitalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/eot/dana-fanum-demibolditalic.eot");
    src: url("../fonts/eot/dana-fanum-demibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-demibolditalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-demibolditalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/eot/dana-fanum-extrabolditalic.eot");
    src: url("../fonts/eot/dana-fanum-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-extrabolditalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-extrabolditalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/eot/dana-fanum-blackitalic.eot");
    src: url("../fonts/eot/dana-fanum-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-blackitalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-blackitalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/eot/dana-fanum-bolditalic.eot");
    src: url("../fonts/eot/dana-fanum-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-bolditalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-bolditalic.woff") format("woff");
}
@font-face {
    font-family: Dana;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/eot/dana-fanum-regularitalic.eot");
    src: url("../fonts/eot/dana-fanum-regularitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-fanum-regularitalic.woff2") format("woff2"), url("../fonts/woff/dana-fanum-regularitalic.woff") format("woff");
}
